<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.56.101:1521:orcl</property>
    <property name="hibernate.connection.username">hr</property>
    <property name="hibernate.connection.password">hr</property>
    <property name="hibernate.default_schema">HR</property>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

    <mapping class="ru.sibintek.cis.model.PmIsEntity"/>
      <mapping class="ru.sibintek.cis.model.PmFuncareaEntity"/>
      <mapping class="ru.sibintek.cis.model.PmFunctionEntity"/>
      <mapping class="ru.sibintek.cis.model.PmIrEntity"/>
  </session-factory>
</hibernate-configuration>